body {
    background-color: #CCAFA5;
}

.my-header,
.my-footer {
    background-color: #EDE7DC;
    text-align: center;
    color: rgb(255, 255, 255);
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

#insert-header {
    text-align: center;
}

#form-update,
#form-insert {
    background-color: #DCD2CC;
    padding: 23px 0px;
    border: 5px solid black;
    border-radius: 10px;

}

#form-search {
    background-color: #BDC3CB;
    padding: 1% 1%;
    border: 5px solid black;
    border-radius: 10px;
}

#show-artifacts-innerHTML {
    font-size: small;
    text-align: center;
    vertical-align: middle;
}